---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<header>
	<div class="header-section">
		<div class="header-frame">
			<h1>{SITE_TITLE}</h1>
			<h2>{SITE_DESCRIPTION}</h2>
		</div>
	</div>
</header>
<nav>
	<HeaderLink href="/">home</HeaderLink>
	<HeaderLink href="/posts">posts</HeaderLink>
	<HeaderLink href="https://bsky.app/profile/auggie.dev">bluesky</HeaderLink>
	<HeaderLink href="https://github.com/justaugustus">github</HeaderLink>
	<HeaderLink href="https://www.linkedin.com/in/stephenaugustus">linkedin</HeaderLink>
	<HeaderLink href="https://youtube.com/playlist?list=PLnRXOw13j0MsfAinWbb1AJ5b9CAx9uBNM">talks</HeaderLink>
	<HeaderLink href="https://github.com/uwu-tools">uwu-tools</HeaderLink>
</nav>
<style>
	h2 {
		margin: 0.5em 0;
	}
</style>
